.calculator-container {
    width: 500px;
    height: 625px;
    background-color: darkgray;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px black solid;

    overflow: hidden;
    
    
}

.display {
    width: 440px;
    height: 140px;
    background-color: white;
    margin: 25px auto;
    border-radius: 10px;
    padding: 5px;

}

.button-container {
    width: 450px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    margin: 25px auto;
    padding: 5px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

button{
    width: 90px;
    height: 90px;
    border: 2px black solid;
    border-radius: 10px;
    background-color: rgb(36, 121, 93);
    text-align: center;

    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: sans-serif;

}

#display-text{
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 25px;
}